<template name="loading_panel">
  <div class="panels-row-miargentina">
    <div class="panel panel-default panel-border-gray panel-nolink state-loading">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="media" style="order:''">
              <div class="media-left">
              </div>
              <div class="media-body">
                <br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="loading_credential">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default panel-nolink panel-border-gray panel-credenciales state-loading">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-body">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="loading_list">
  <li class="list-group-item state-loading">
    <div class="media" style="order:''">
      <div class="media-left">
      </div>
      <div class="media-body">
        <br>
      </div>
    </div>
  </li>
</template>

<template name="loading_container">
  <div class="panel panel-default panel-borders state-loading">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <br>
        </div>
      </div>
    </div>
  </div>
</template>
