<template name="loading">
  <div style="margin-top:15%; margin-bottom:20%">
    <div class="text-center m-b-3">
      <a href="{{getSetting 'miargentina'}}"><img src="/img/logos/LOGO_LOADING.png" alt=""></a>
    </div>
    <div class="state-loading">
    </div>
    <br>
    <div class="text-center">
      <p class="text-muted">Cargando información...</p>
    </div>
  </div>
</template>

<template name="loading_list">
  <li class="list-group-item state-loading">
    <div class="media" style="order:''">
      <div class="media-left">
      </div>
      <div class="media-body">
        <br>
      </div>
    </div>
  </li>
</template>
