<template name="expired">
  {{#if status}}
    <section class="well m-t-0">
      <p><i class="fa fa-sign-out fa-4x text-primary"></i></p>
      <h2>Ingresá de nuevo a tu cuenta de Mi Argentina</h2>
      <p>Por razones de seguridad, al pasar unos minutos la sesión de tu cuenta se cierra automáticamente.</p>
      <p>Volvé a ingresar para ver tus trámites pendientes y notificaciones o buscá más trámites en el sitio.</p>
      <p class="m-t-2">
        <a href="#" class="btn btn-success btn-block login-button">Ingresar de nuevo</a>
      </p>
    </section>
  {{else}}
    {{> loading}}
  {{/if}}
</template>
