<template name="expired">
  <section class="container-fluid container-id">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p><i class="fa fa-sign-out fa-4x text-primary"></i></p>
        <h2>Ingresá de nuevo a tu cuenta de Mi Argentina</h2>
        <p>Por razones de seguridad, al pasar unos minutos la sesión de tu cuenta se cierra automáticamente.</p>
        <p>Volvé a ingresar para ver tus trámites pendientes y notificaciones o buscá más trámites en el sitio.</p>
        <p class="m-t-4">
          <a href="#" class="btn btn-success login-button">Ingresar de nuevo</a>
        </p>
      </div>
    </div>
  </section>
</template>
