<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ministerio de Modernización. Presidencia de la Nación.">
    <meta name="description" content="El perfil digital del ciudadano, todas las interacciones con el Estado en un solo lugar."/>
    <meta name="keywords" content="mi argentina, trámites, servicios, seguimiento, notificaciones, alertas, Estado, perfil digital"/>
    <meta name="language" content="Spanish"/>
    <meta name="revisit" content="1 day"/>
    <meta name="distribution" content="Global"/>
    <meta name="robots" content="All"/>
    <link rel="icon" href="/favicon.ico">
    <title>Ingresar | Mi Argentina</title>
    <!-- Google Analytics -->
    <!-- End Google Analytics -->
</head>

<template name="base_layout">
  <div id="skip-link"><a href="#mainContent" class="hash element-invisible element-focusable">Pasar al contenido principal</a></div>
  <header id="header">
    <nav class="navbar navbar-top navbar-default nav-header-dashboard" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 visible-xs brand-container">
            <div class="nav navbar-nav navbar-header m-y-1 navbar-left-mobile">
              <button type="button" class="inicio no-border-shadow" data-id="inicioButton">
                <div class="media">
                  <div class="media-left">
                    <i class="icono-arg-casa-negativo icon-init  m-r-1 text-muted"></i>
                  </div>
                  <div class="media-body">
                    <img alt="Mi Argentina" title="Mi Argentina" src="/img/logos/logo-ma-sin.iso.svg" class="brand-icon visible-xs" height="20">
                    <h1 class="sr-only">Mi Argentina</h1>
                  </div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-md-10 hidden-xs">
            <div class="nav navbar-nav navbar-header m-y-1">
              <a href="{{ getSetting 'miargentina'}}/" id="logo">
                <img alt="Mi Argentina" title="Mi Argentina" src="/img/logos/miargentina.svg" class="brand-icon hidden-xs" height="50">
                <h1 class="sr-only">Mi Argentina</h1>
              </a>
            </div>
          </div>
          {{> navID}}
        </div>
      </div>
    </nav>

    {{> navmobile}}
  </header>

  <div id="primaryContent">
    <section class="p-y-0">
      {{#if FirstLogin}}
        {{> modalfirstlogin}}
      {{/if}}
      <div class="container-fluid">
        <div id="dashboard" class="row dashboard">
          <div class="col-lg-3 col-sm-4 sidebar p-l-0 hidden-xs" id="menu">
            {{> nav}}
          </div>
          <main class="col-lg-12 col-sm-8" aria-live="assertive" id="mainContent" role="main">
            <div id="yieldContent" class="gral-container">
              {{> yield }}
            </div>
          </main>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer" id="footer">
    {{> footer}}
  </footer>
</template>

<template name="footer">
  <div class="container-fluid">
    <div class="row footer" style="">
      <div class="col-xs-12 col-sm-4 first-footer-item" style="">
        <a href="{{getSetting 'argentinagobar'}}/mi/terminos-y-condiciones" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña</span>Términos y condiciones</a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="/img/logos/logo-ssgd.svg">
      </div>
      <div class="col-xs-12 col-sm-2">
        <img class="image-responsive" alt="Presidencia de la Nación" src="/img/logos/logo-presidencia.svg">
      </div>
    </div>
  </div>
</template>

<template name="tooltip">
</template>
