<template name="credential">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" aria-live="polite">
    <div class="panel panel-default panel-nolink panel-border-{{#if status}}{{status}}{{else}}gray{{/if}} panel-credenciales">
      <div class="panel-heading">
        <h2>{{name}}</h2>
      </div>
      <div class="panel-body">
        {{> Template.dynamic template=body}}
      </div>
      {{#if statusValidez}}
        <div class="panel-content-bottom">
          <div class="media">
            <div class="media-left p-r-1">
              <i class="fa {{#if statusValidez.status}}icono-arg-validez-legal text-primary{{else}}fa-ban text-danger{{/if}} fa-1x m-t-0"></i>
            </div>
            <div class="media-body">
              <p><strong>{{statusValidez.texto}}</strong></p>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if footer}}
        <div class="panel-footer">
          {{> Template.dynamic template=footer}}
        </div>
      {{/if}}
      {{#if infoAdicional}}
        <div class="panel-content-bottom">
          {{> Template.dynamic template=infoAdicional}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
