<template name="panelCollapse">
  <div class="panel panel-default panel-border-primary">
    <div class="panel-heading {{#if collapsed}}collapsed{{/if}}" data-toggle="collapse" data-target="#{{id}}" aria-expanded="{{#if collapsed}}false{{else}}true{{/if}}" aria-controls="{{id}}">
      <div class="row">
        <div class="col-xs-10 col-md-11">
          <h2 class="text-capitalize">{{name}}</h2>
        </div>
        <div class="col-xs-2 col-md-1 p-l-0">
          <a class="btn-collapse"><i class="fa fa-chevron-up collapseGira text-muted"></i></a>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapse {{#unless collapsed}}in{{/unless}}" role="tabpanel" id="{{id}}" aria-expanded="{{#if collapsed}}false{{else}}true{{/if}}">
      <div class="panel-body">
        {{> Template.dynamic template=body}}
      </div>
      {{#if footer}}
        <div class="panel-footer">
          {{> Template.dynamic template=footer}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
