<template name="georefProvincias">
  <ul class="list-group">
    {{#each provincias}}
      <li class="list-group-item">
        <a class="item-panel" href="#" data-id={{id}} data-target="provincia">{{nombre}}</a>
      </li>
    {{/each}}
  </ul>
</template>

<template name="georefLocalidades">
  <ul class="list-group">
    {{#each localidades}}
      <li class="list-group-item">
        <p data-id={{id}}>{{nombre}}</p>
      </li>
    {{/each}}
    {{#if paginas}}
      <p class="text-center m-t-1">
        <a class="back {{#unless back}}hidden{{/unless}} m-r-1" href="#" data-id="{{back}}"><i class="fa fa-chevron-left text-muted"></i></a>
        <a class="next {{#unless next}}hidden{{/unless}} m-l-1" href="#" data-id="{{next}}"><i class="fa fa-chevron-right text-muted"></i></a>
      </p>
    {{/if}}
  </ul>
</template>
