<template name='nextHoliday'>
  <div class="media">
    <div class="media-body">
      {{#if nextHoliday}}
        <p class="text-muted"><b>{{nextHoliday.dia}} de {{nextHoliday.mes}}{{#if nextHoliday.diasSiguientes}} y {{nextHoliday.diasSiguientes}} de {{nextHoliday.mesSiguiente}}{{/if}}</b>. {{nextHoliday.feriado}}</p>
      {{else}}
        <p class="text-muted">Información no disponible</p>
      {{/if}}
    </div>
  </div>
</template>

<template name="nextHolidayFooter">
  <p><a href="{{getSetting 'argentinagobar'}}/interior/feriados" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña</span>Ver todos los feriados</a></p>
</template>
