<template name="staticPanel">
  <p>Componente para mostrar contenido estático y/o dinámico.</p>
  <p>Puede usarse para mostrar datos o acciones para el usuario o acceder a detalles a través de un call to action o enlaces de más información.</p>
  <p>La franja de color permite comunicar al usuario estados de la información mostrada.</p>
  <p>Puede llevar o no un footer.</p>
  <a href="#" class="btn btn-link">Acción</a>
</template>

<template name="footerStaticPanel">
  <p class="text-muted">Footer</p>
</template>
