<template name="nav">
  <nav id="navMenu" class="page-sidebar m-b-2 dashboard-sidebar">
    <ul class="nav nav-pills nav-stacked nav-dashboard m-t-2 p-r-0 col-xs-12">
      {{> menuElement path='' name="inicio" icono="icono-arg-casa-negativo"}}
      {{> menuElement path='pais' name="pais" icono="icono-arg-mapa-2-negativo"}}
    </ul>
  </nav>
  {{> loadMenu}}
</template>

<template name="menuElement">
  <li class="col-xs-6 col-sm-12 p-x-0 {{#if current path}}active{{/if}}">
    <a href="{{ getSetting 'miargentina' }}/{{path}}">
      <div class="media">
        <div class="media-left">
          <i class="{{icono}}"></i>
        </div>
        <div class="media-body">
          <p class="m-b-0 text-capitalize">{{name}}</p>
        </div>
      </div>
    </a>
  </li>
</template>

<template name="loadMenu">
</template>
