<template name="navmobile">
  <div class="page-sidebar m-b-2 hidden menutoggle dashboard-sidebar" id="navMobile">
    <ul class="nav nav-pills nav-stacked nav-dashboard p-r-0 col-xs-12">
      <h1 class="title-dashboard">Bienvenido {{ currentUser.services.oidc.firstName }}{{#if validado}}<i class="fa icono-arg-validez-legal text-primary fa-05x" alt="Identidad validada" title="Identidad validada"></i>{{/if}}</h1>
      <li class="col-xs-6 col-sm-12 p-x-0" data-id="inicio-mobile">
          <a href="{{ getSetting 'miargentina' }}/">
              <div class="panel panel-default panel-sidebar" href="#">
                  <div class="panel-body">
                      <img src="/img/logos/celestes_casa.svg" alt="Inicio" class="center-block">
                      <p class="text-center"><strong>Inicio</strong></p>
                  </div>
              </div>
          </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0" data-id="pais-mobile">
          <a href="{{ getSetting 'miargentina' }}/">
              <div class="panel panel-default panel-sidebar" href="#">
                  <div class="panel-body">
                      <img src="/img/logos/mapa-mi-argentina.svg" alt="Pais" class="center-block">
                      <p class="text-center"><strong>Pais</strong></p>
                  </div>
              </div>
          </a>
      </li>
    </ul>
  </div>
</template>
